.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1, .col {
  position: relative;
  padding-right: 8px;
  padding-left: 8px;
}

.container {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: auto;
  margin-left: auto;
}

.container-lg {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 1440px) {
  .container-lg {
    max-width: 1024px;
  }
}

.container-md {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  .container-md {
    max-width: 768px;
  }
}
@media screen and (max-width: 1440px) {
  .container-md {
    max-width: 1024px;
  }
}

.container-sm {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .container-sm {
    max-width: 480px;
  }
}
@media screen and (max-width: 1024px) {
  .container-sm {
    max-width: 768px;
  }
}
@media screen and (max-width: 1440px) {
  .container-sm {
    max-width: 1024px;
  }
}

.container-xs {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .container-xs {
    max-width: 480px;
  }
}
@media screen and (max-width: 1024px) {
  .container-xs {
    max-width: 768px;
  }
}
@media screen and (max-width: 1440px) {
  .container-xs {
    max-width: 1024px;
  }
}

.row {
  display: flex;
  margin-right: -8px;
  margin-left: -8px;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-lg-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-lg-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-lg-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-lg-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-lg-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-lg-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-lg-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-md-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-md-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-md-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-md-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-md-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-md-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-md-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-md-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-sm-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-sm-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-sm-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-sm-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-sm-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-sm-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-sm-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-sm-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-sm-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-xs-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-xs-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-xs-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-xs-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-xs-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body, html, main, section, aside, article, div, header, nav {
  overflow: auto;
}

h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol, ul {
  list-style: none;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: underline;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

table {
  caption-side: top;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: inherit;
  text-align: center;
}

th {
  font-weight: 700;
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

button:focus-visible {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
}
legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

.t-1 {
  font-size: 0.875rem;
}

.t-2 {
  font-size: 1rem;
}

.t-3 {
  font-size: 1.125rem;
}

.t-4 {
  font-size: 1.25rem;
}

.t-5 {
  font-size: 1.5rem;
}

.t-lg-1 {
  font-size: 0.875rem;
}

.t-lg-2 {
  font-size: 1rem;
}

.t-lg-3 {
  font-size: 1.125rem;
}

.t-lg-4 {
  font-size: 1.25rem;
}

.t-lg-5 {
  font-size: 1.5rem;
}

.t-md-1 {
  font-size: 0.875rem;
}

.t-md-2 {
  font-size: 1rem;
}

.t-md-3 {
  font-size: 1.125rem;
}

.t-md-4 {
  font-size: 1.25rem;
}

.t-md-5 {
  font-size: 1.5rem;
}

.t-sm-1 {
  font-size: 0.875rem;
}

.t-sm-2 {
  font-size: 1rem;
}

.t-sm-3 {
  font-size: 1.125rem;
}

.t-sm-4 {
  font-size: 1.25rem;
}

.t-sm-5 {
  font-size: 1.5rem;
}

.t-xs-1 {
  font-size: 0.875rem;
}

.t-xs-2 {
  font-size: 1rem;
}

.t-xs-3 {
  font-size: 1.125rem;
}

.t-xs-4 {
  font-size: 1.25rem;
}

.t-xs-5 {
  font-size: 1.5rem;
}

.h-1 {
  font-size: 1.75rem;
}

.h-2 {
  font-size: 2.25rem;
}

.h-3 {
  font-size: 2.75rem;
}

.h-4 {
  font-size: 3.25rem;
}

.h-5 {
  font-size: 3.75rem;
}

.h-lg-1 {
  font-size: 1.75rem;
}

.h-lg-2 {
  font-size: 2.25rem;
}

.h-lg-3 {
  font-size: 2.75rem;
}

.h-lg-4 {
  font-size: 3.25rem;
}

.h-lg-5 {
  font-size: 3.75rem;
}

.h-md-1 {
  font-size: 1.75rem;
}

.h-md-2 {
  font-size: 2.25rem;
}

.h-md-3 {
  font-size: 2.75rem;
}

.h-md-4 {
  font-size: 3.25rem;
}

.h-md-5 {
  font-size: 3.75rem;
}

.h-sm-1 {
  font-size: 1.75rem;
}

.h-sm-2 {
  font-size: 2.25rem;
}

.h-sm-3 {
  font-size: 2.75rem;
}

.h-sm-4 {
  font-size: 3.25rem;
}

.h-sm-5 {
  font-size: 3.75rem;
}

.h-xs-1 {
  font-size: 1.75rem;
}

.h-xs-2 {
  font-size: 2.25rem;
}

.h-xs-3 {
  font-size: 2.75rem;
}

.h-xs-4 {
  font-size: 3.25rem;
}

.h-xs-5 {
  font-size: 3.75rem;
}

.t-primary {
  color: #1e8ceb;
}

.t-secondary {
  color: #6c757d;
}

.t-success {
  color: #32c864;
}

.t-info {
  color: #0dcaf0;
}

.t-warning {
  color: #ffcd64;
}

.t-danger {
  color: #ff595f;
}

.t-light {
  color: #f8f9fa;
}

.t-dark {
  color: #212529;
}

.t-gray-1 {
  color: #f8f9fa;
}

.t-gray-2 {
  color: #e9ecef;
}

.t-gray-3 {
  color: #dee2e6;
}

.t-gray-4 {
  color: #ced4da;
}

.t-gray-5 {
  color: #adb5bd;
}

.t-gray-6 {
  color: #6c757d;
}

.t-gray-7 {
  color: #495057;
}

.t-gray-8 {
  color: #343a40;
}

.t-gray-9 {
  color: #212529;
}

.t-bee-purple-1 {
  color: #e8ebff;
}

.t-bee-purple-2 {
  color: #b4beff;
}

.t-bee-purple-3 {
  color: #6378ff;
}

.t-bee-purple-4 {
  color: #2d46eb;
}

.t-bee-purple-5 {
  color: #000c5c;
}

.t-bee-green-1 {
  color: #ecfcf2;
}

.t-bee-green-2 {
  color: #94e6af;
}

.t-bee-green-3 {
  color: #32c864;
}

.t-bee-green-4 {
  color: #008c2e;
}

.t-bee-green-5 {
  color: #004e1a;
}

.t-bee-yellow-1 {
  color: #fff6e1;
}

.t-bee-yellow-2 {
  color: #ffe4aa;
}

.t-bee-yellow-3 {
  color: #ffcd64;
}

.t-bee-yellow-4 {
  color: #e59b00;
}

.t-bee-yellow-5 {
  color: #7d5400;
}

.t-bee-red-1 {
  color: #ffeeef;
}

.t-bee-red-2 {
  color: #ffa6a8;
}

.t-bee-red-3 {
  color: #ff595f;
}

.t-bee-red-4 {
  color: #d21926;
}

.t-bee-red-5 {
  color: #5a0005;
}

.t-bee-blue-1 {
  color: #def0ff;
}

.t-bee-blue-2 {
  color: #98d0ff;
}

.t-bee-blue-3 {
  color: #1e8ceb;
}

.t-bee-blue-4 {
  color: #0064bc;
}

.t-bee-blue-5 {
  color: #001d37;
}

.fs-italic {
  font-style: italic;
}

.m-a {
  margin: auto;
}

.p-1 {
  padding: 0.625rem;
}

.p-2 {
  padding: 1.25rem;
}

.p-3 {
  padding: 1.875rem;
}

.p-4 {
  padding: 2.5rem;
}

.p-5 {
  padding: 3.125rem;
}

.p-lg-1 {
  padding: 0.625rem;
}

.p-lg-2 {
  padding: 1.25rem;
}

.p-lg-3 {
  padding: 1.875rem;
}

.p-lg-4 {
  padding: 2.5rem;
}

.p-lg-5 {
  padding: 3.125rem;
}

.p-x-lg-1 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-x-lg-2 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-x-lg-3 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.p-x-lg-4 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.p-x-lg-5 {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.p-y-lg-1 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.p-y-lg-2 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-y-lg-3 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.p-y-lg-4 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p-y-lg-5 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.p-t-lg-1 {
  padding-top: 0.625rem;
}

.p-t-lg-2 {
  padding-top: 1.25rem;
}

.p-t-lg-3 {
  padding-top: 1.875rem;
}

.p-t-lg-4 {
  padding-top: 2.5rem;
}

.p-t-lg-5 {
  padding-top: 3.125rem;
}

.p-r-lg-1 {
  padding-right: 0.625rem;
}

.p-r-lg-2 {
  padding-right: 1.25rem;
}

.p-r-lg-3 {
  padding-right: 1.875rem;
}

.p-r-lg-4 {
  padding-right: 2.5rem;
}

.p-r-lg-5 {
  padding-right: 3.125rem;
}

.p-b-lg-1 {
  padding-bottom: 0.625rem;
}

.p-b-lg-2 {
  padding-bottom: 1.25rem;
}

.p-b-lg-3 {
  padding-bottom: 1.875rem;
}

.p-b-lg-4 {
  padding-bottom: 2.5rem;
}

.p-b-lg-5 {
  padding-bottom: 3.125rem;
}

.p-l-lg-1 {
  padding-left: 0.625rem;
}

.p-l-lg-2 {
  padding-left: 1.25rem;
}

.p-l-lg-3 {
  padding-left: 1.875rem;
}

.p-l-lg-4 {
  padding-left: 2.5rem;
}

.p-l-lg-5 {
  padding-left: 3.125rem;
}

.p-md-1 {
  padding: 0.625rem;
}

.p-md-2 {
  padding: 1.25rem;
}

.p-md-3 {
  padding: 1.875rem;
}

.p-md-4 {
  padding: 2.5rem;
}

.p-md-5 {
  padding: 3.125rem;
}

.p-x-md-1 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-x-md-2 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-x-md-3 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.p-x-md-4 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.p-x-md-5 {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.p-y-md-1 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.p-y-md-2 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-y-md-3 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.p-y-md-4 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p-y-md-5 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.p-t-md-1 {
  padding-top: 0.625rem;
}

.p-t-md-2 {
  padding-top: 1.25rem;
}

.p-t-md-3 {
  padding-top: 1.875rem;
}

.p-t-md-4 {
  padding-top: 2.5rem;
}

.p-t-md-5 {
  padding-top: 3.125rem;
}

.p-r-md-1 {
  padding-right: 0.625rem;
}

.p-r-md-2 {
  padding-right: 1.25rem;
}

.p-r-md-3 {
  padding-right: 1.875rem;
}

.p-r-md-4 {
  padding-right: 2.5rem;
}

.p-r-md-5 {
  padding-right: 3.125rem;
}

.p-b-md-1 {
  padding-bottom: 0.625rem;
}

.p-b-md-2 {
  padding-bottom: 1.25rem;
}

.p-b-md-3 {
  padding-bottom: 1.875rem;
}

.p-b-md-4 {
  padding-bottom: 2.5rem;
}

.p-b-md-5 {
  padding-bottom: 3.125rem;
}

.p-l-md-1 {
  padding-left: 0.625rem;
}

.p-l-md-2 {
  padding-left: 1.25rem;
}

.p-l-md-3 {
  padding-left: 1.875rem;
}

.p-l-md-4 {
  padding-left: 2.5rem;
}

.p-l-md-5 {
  padding-left: 3.125rem;
}

.p-sm-1 {
  padding: 0.625rem;
}

.p-sm-2 {
  padding: 1.25rem;
}

.p-sm-3 {
  padding: 1.875rem;
}

.p-sm-4 {
  padding: 2.5rem;
}

.p-sm-5 {
  padding: 3.125rem;
}

.p-x-sm-1 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-x-sm-2 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-x-sm-3 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.p-x-sm-4 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.p-x-sm-5 {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.p-y-sm-1 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.p-y-sm-2 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-y-sm-3 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.p-y-sm-4 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p-y-sm-5 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.p-t-sm-1 {
  padding-top: 0.625rem;
}

.p-t-sm-2 {
  padding-top: 1.25rem;
}

.p-t-sm-3 {
  padding-top: 1.875rem;
}

.p-t-sm-4 {
  padding-top: 2.5rem;
}

.p-t-sm-5 {
  padding-top: 3.125rem;
}

.p-r-sm-1 {
  padding-right: 0.625rem;
}

.p-r-sm-2 {
  padding-right: 1.25rem;
}

.p-r-sm-3 {
  padding-right: 1.875rem;
}

.p-r-sm-4 {
  padding-right: 2.5rem;
}

.p-r-sm-5 {
  padding-right: 3.125rem;
}

.p-b-sm-1 {
  padding-bottom: 0.625rem;
}

.p-b-sm-2 {
  padding-bottom: 1.25rem;
}

.p-b-sm-3 {
  padding-bottom: 1.875rem;
}

.p-b-sm-4 {
  padding-bottom: 2.5rem;
}

.p-b-sm-5 {
  padding-bottom: 3.125rem;
}

.p-l-sm-1 {
  padding-left: 0.625rem;
}

.p-l-sm-2 {
  padding-left: 1.25rem;
}

.p-l-sm-3 {
  padding-left: 1.875rem;
}

.p-l-sm-4 {
  padding-left: 2.5rem;
}

.p-l-sm-5 {
  padding-left: 3.125rem;
}

.p-xs-1 {
  padding: 0.625rem;
}

.p-xs-2 {
  padding: 1.25rem;
}

.p-xs-3 {
  padding: 1.875rem;
}

.p-xs-4 {
  padding: 2.5rem;
}

.p-xs-5 {
  padding: 3.125rem;
}

.p-x-xs-1 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-x-xs-2 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-x-xs-3 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.p-x-xs-4 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.p-x-xs-5 {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.p-y-xs-1 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.p-y-xs-2 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-y-xs-3 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.p-y-xs-4 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p-y-xs-5 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.p-t-xs-1 {
  padding-top: 0.625rem;
}

.p-t-xs-2 {
  padding-top: 1.25rem;
}

.p-t-xs-3 {
  padding-top: 1.875rem;
}

.p-t-xs-4 {
  padding-top: 2.5rem;
}

.p-t-xs-5 {
  padding-top: 3.125rem;
}

.p-r-xs-1 {
  padding-right: 0.625rem;
}

.p-r-xs-2 {
  padding-right: 1.25rem;
}

.p-r-xs-3 {
  padding-right: 1.875rem;
}

.p-r-xs-4 {
  padding-right: 2.5rem;
}

.p-r-xs-5 {
  padding-right: 3.125rem;
}

.p-b-xs-1 {
  padding-bottom: 0.625rem;
}

.p-b-xs-2 {
  padding-bottom: 1.25rem;
}

.p-b-xs-3 {
  padding-bottom: 1.875rem;
}

.p-b-xs-4 {
  padding-bottom: 2.5rem;
}

.p-b-xs-5 {
  padding-bottom: 3.125rem;
}

.p-l-xs-1 {
  padding-left: 0.625rem;
}

.p-l-xs-2 {
  padding-left: 1.25rem;
}

.p-l-xs-3 {
  padding-left: 1.875rem;
}

.p-l-xs-4 {
  padding-left: 2.5rem;
}

.p-l-xs-5 {
  padding-left: 3.125rem;
}

.m-1 {
  margin: 0.625rem;
}

.m-2 {
  margin: 1.25rem;
}

.m-3 {
  margin: 1.875rem;
}

.m-4 {
  margin: 2.5rem;
}

.m-5 {
  margin: 3.125rem;
}

.m-auto {
  margin: auto;
}

.m-lg-1 {
  margin: 0.625rem;
}

.m-lg-2 {
  margin: 1.25rem;
}

.m-lg-3 {
  margin: 1.875rem;
}

.m-lg-4 {
  margin: 2.5rem;
}

.m-lg-5 {
  margin: 3.125rem;
}

.m-lg-auto {
  margin: auto;
}

.m-x-lg-1 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-x-lg-2 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-x-lg-3 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.m-x-lg-4 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.m-x-lg-5 {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

.m-x-lg-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-y-lg-1 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.m-y-lg-2 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-y-lg-3 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.m-y-lg-4 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.m-y-lg-5 {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.m-y-lg-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-t-lg-1 {
  margin-top: 0.625rem;
}

.m-t-lg-2 {
  margin-top: 1.25rem;
}

.m-t-lg-3 {
  margin-top: 1.875rem;
}

.m-t-lg-4 {
  margin-top: 2.5rem;
}

.m-t-lg-5 {
  margin-top: 3.125rem;
}

.m-t-lg-auto {
  margin-top: auto;
}

.m-r-lg-1 {
  margin-right: 0.625rem;
}

.m-r-lg-2 {
  margin-right: 1.25rem;
}

.m-r-lg-3 {
  margin-right: 1.875rem;
}

.m-r-lg-4 {
  margin-right: 2.5rem;
}

.m-r-lg-5 {
  margin-right: 3.125rem;
}

.m-r-lg-auto {
  margin-right: auto;
}

.m-b-lg-1 {
  margin-bottom: 0.625rem;
}

.m-b-lg-2 {
  margin-bottom: 1.25rem;
}

.m-b-lg-3 {
  margin-bottom: 1.875rem;
}

.m-b-lg-4 {
  margin-bottom: 2.5rem;
}

.m-b-lg-5 {
  margin-bottom: 3.125rem;
}

.m-b-lg-auto {
  margin-bottom: auto;
}

.m-l-lg-1 {
  margin-left: 0.625rem;
}

.m-l-lg-2 {
  margin-left: 1.25rem;
}

.m-l-lg-3 {
  margin-left: 1.875rem;
}

.m-l-lg-4 {
  margin-left: 2.5rem;
}

.m-l-lg-5 {
  margin-left: 3.125rem;
}

.m-l-lg-auto {
  margin-left: auto;
}

.m-md-1 {
  margin: 0.625rem;
}

.m-md-2 {
  margin: 1.25rem;
}

.m-md-3 {
  margin: 1.875rem;
}

.m-md-4 {
  margin: 2.5rem;
}

.m-md-5 {
  margin: 3.125rem;
}

.m-md-auto {
  margin: auto;
}

.m-x-md-1 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-x-md-2 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-x-md-3 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.m-x-md-4 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.m-x-md-5 {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

.m-x-md-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-y-md-1 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.m-y-md-2 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-y-md-3 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.m-y-md-4 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.m-y-md-5 {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.m-y-md-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-t-md-1 {
  margin-top: 0.625rem;
}

.m-t-md-2 {
  margin-top: 1.25rem;
}

.m-t-md-3 {
  margin-top: 1.875rem;
}

.m-t-md-4 {
  margin-top: 2.5rem;
}

.m-t-md-5 {
  margin-top: 3.125rem;
}

.m-t-md-auto {
  margin-top: auto;
}

.m-r-md-1 {
  margin-right: 0.625rem;
}

.m-r-md-2 {
  margin-right: 1.25rem;
}

.m-r-md-3 {
  margin-right: 1.875rem;
}

.m-r-md-4 {
  margin-right: 2.5rem;
}

.m-r-md-5 {
  margin-right: 3.125rem;
}

.m-r-md-auto {
  margin-right: auto;
}

.m-b-md-1 {
  margin-bottom: 0.625rem;
}

.m-b-md-2 {
  margin-bottom: 1.25rem;
}

.m-b-md-3 {
  margin-bottom: 1.875rem;
}

.m-b-md-4 {
  margin-bottom: 2.5rem;
}

.m-b-md-5 {
  margin-bottom: 3.125rem;
}

.m-b-md-auto {
  margin-bottom: auto;
}

.m-l-md-1 {
  margin-left: 0.625rem;
}

.m-l-md-2 {
  margin-left: 1.25rem;
}

.m-l-md-3 {
  margin-left: 1.875rem;
}

.m-l-md-4 {
  margin-left: 2.5rem;
}

.m-l-md-5 {
  margin-left: 3.125rem;
}

.m-l-md-auto {
  margin-left: auto;
}

.m-sm-1 {
  margin: 0.625rem;
}

.m-sm-2 {
  margin: 1.25rem;
}

.m-sm-3 {
  margin: 1.875rem;
}

.m-sm-4 {
  margin: 2.5rem;
}

.m-sm-5 {
  margin: 3.125rem;
}

.m-sm-auto {
  margin: auto;
}

.m-x-sm-1 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-x-sm-2 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-x-sm-3 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.m-x-sm-4 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.m-x-sm-5 {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

.m-x-sm-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-y-sm-1 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.m-y-sm-2 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-y-sm-3 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.m-y-sm-4 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.m-y-sm-5 {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.m-y-sm-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-t-sm-1 {
  margin-top: 0.625rem;
}

.m-t-sm-2 {
  margin-top: 1.25rem;
}

.m-t-sm-3 {
  margin-top: 1.875rem;
}

.m-t-sm-4 {
  margin-top: 2.5rem;
}

.m-t-sm-5 {
  margin-top: 3.125rem;
}

.m-t-sm-auto {
  margin-top: auto;
}

.m-r-sm-1 {
  margin-right: 0.625rem;
}

.m-r-sm-2 {
  margin-right: 1.25rem;
}

.m-r-sm-3 {
  margin-right: 1.875rem;
}

.m-r-sm-4 {
  margin-right: 2.5rem;
}

.m-r-sm-5 {
  margin-right: 3.125rem;
}

.m-r-sm-auto {
  margin-right: auto;
}

.m-b-sm-1 {
  margin-bottom: 0.625rem;
}

.m-b-sm-2 {
  margin-bottom: 1.25rem;
}

.m-b-sm-3 {
  margin-bottom: 1.875rem;
}

.m-b-sm-4 {
  margin-bottom: 2.5rem;
}

.m-b-sm-5 {
  margin-bottom: 3.125rem;
}

.m-b-sm-auto {
  margin-bottom: auto;
}

.m-l-sm-1 {
  margin-left: 0.625rem;
}

.m-l-sm-2 {
  margin-left: 1.25rem;
}

.m-l-sm-3 {
  margin-left: 1.875rem;
}

.m-l-sm-4 {
  margin-left: 2.5rem;
}

.m-l-sm-5 {
  margin-left: 3.125rem;
}

.m-l-sm-auto {
  margin-left: auto;
}

.m-xs-1 {
  margin: 0.625rem;
}

.m-xs-2 {
  margin: 1.25rem;
}

.m-xs-3 {
  margin: 1.875rem;
}

.m-xs-4 {
  margin: 2.5rem;
}

.m-xs-5 {
  margin: 3.125rem;
}

.m-xs-auto {
  margin: auto;
}

.m-x-xs-1 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-x-xs-2 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-x-xs-3 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.m-x-xs-4 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.m-x-xs-5 {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

.m-x-xs-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-y-xs-1 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.m-y-xs-2 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-y-xs-3 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.m-y-xs-4 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.m-y-xs-5 {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.m-y-xs-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-t-xs-1 {
  margin-top: 0.625rem;
}

.m-t-xs-2 {
  margin-top: 1.25rem;
}

.m-t-xs-3 {
  margin-top: 1.875rem;
}

.m-t-xs-4 {
  margin-top: 2.5rem;
}

.m-t-xs-5 {
  margin-top: 3.125rem;
}

.m-t-xs-auto {
  margin-top: auto;
}

.m-r-xs-1 {
  margin-right: 0.625rem;
}

.m-r-xs-2 {
  margin-right: 1.25rem;
}

.m-r-xs-3 {
  margin-right: 1.875rem;
}

.m-r-xs-4 {
  margin-right: 2.5rem;
}

.m-r-xs-5 {
  margin-right: 3.125rem;
}

.m-r-xs-auto {
  margin-right: auto;
}

.m-b-xs-1 {
  margin-bottom: 0.625rem;
}

.m-b-xs-2 {
  margin-bottom: 1.25rem;
}

.m-b-xs-3 {
  margin-bottom: 1.875rem;
}

.m-b-xs-4 {
  margin-bottom: 2.5rem;
}

.m-b-xs-5 {
  margin-bottom: 3.125rem;
}

.m-b-xs-auto {
  margin-bottom: auto;
}

.m-l-xs-1 {
  margin-left: 0.625rem;
}

.m-l-xs-2 {
  margin-left: 1.25rem;
}

.m-l-xs-3 {
  margin-left: 1.875rem;
}

.m-l-xs-4 {
  margin-left: 2.5rem;
}

.m-l-xs-5 {
  margin-left: 3.125rem;
}

.m-l-xs-auto {
  margin-left: auto;
}

.bd-1 {
  border-width: 1px;
  border-style: solid;
}

.bd-2 {
  border-width: 2px;
  border-style: solid;
}

.bd-3 {
  border-width: 3px;
  border-style: solid;
}

.bd-4 {
  border-width: 4px;
  border-style: solid;
}

.bd-5 {
  border-width: 5px;
  border-style: solid;
}

.bd-lg-1 {
  border-width: 1px;
  border-style: solid;
}

.bd-lg-2 {
  border-width: 2px;
  border-style: solid;
}

.bd-lg-3 {
  border-width: 3px;
  border-style: solid;
}

.bd-lg-4 {
  border-width: 4px;
  border-style: solid;
}

.bd-lg-5 {
  border-width: 5px;
  border-style: solid;
}

.bd-md-1 {
  border-width: 1px;
  border-style: solid;
}

.bd-md-2 {
  border-width: 2px;
  border-style: solid;
}

.bd-md-3 {
  border-width: 3px;
  border-style: solid;
}

.bd-md-4 {
  border-width: 4px;
  border-style: solid;
}

.bd-md-5 {
  border-width: 5px;
  border-style: solid;
}

.bd-sm-1 {
  border-width: 1px;
  border-style: solid;
}

.bd-sm-2 {
  border-width: 2px;
  border-style: solid;
}

.bd-sm-3 {
  border-width: 3px;
  border-style: solid;
}

.bd-sm-4 {
  border-width: 4px;
  border-style: solid;
}

.bd-sm-5 {
  border-width: 5px;
  border-style: solid;
}

.bd-xs-1 {
  border-width: 1px;
  border-style: solid;
}

.bd-xs-2 {
  border-width: 2px;
  border-style: solid;
}

.bd-xs-3 {
  border-width: 3px;
  border-style: solid;
}

.bd-xs-4 {
  border-width: 4px;
  border-style: solid;
}

.bd-xs-5 {
  border-width: 5px;
  border-style: solid;
}

.bd-primary {
  border-color: #1e8ceb;
}

.bd-secondary {
  border-color: #6c757d;
}

.bd-success {
  border-color: #32c864;
}

.bd-info {
  border-color: #0dcaf0;
}

.bd-warning {
  border-color: #ffcd64;
}

.bd-danger {
  border-color: #ff595f;
}

.bd-light {
  border-color: #f8f9fa;
}

.bd-dark {
  border-color: #212529;
}

.rounded-1 {
  border-radius: 0.3125rem;
}

.rounded-2 {
  border-radius: 0.625rem;
}

.rounded-3 {
  border-radius: 0.9375rem;
}

.rounded-4 {
  border-radius: 1.5625rem;
}

.rounded-5 {
  border-radius: 2.1875rem;
}

.rounded-pill {
  border-radius: 50rem;
}

.rounded-lg-1 {
  border-radius: 0.3125rem;
}

.rounded-lg-2 {
  border-radius: 0.625rem;
}

.rounded-lg-3 {
  border-radius: 0.9375rem;
}

.rounded-lg-4 {
  border-radius: 1.5625rem;
}

.rounded-lg-5 {
  border-radius: 2.1875rem;
}

.rounded-lg-pill {
  border-radius: 50rem;
}

.rounded-md-1 {
  border-radius: 0.3125rem;
}

.rounded-md-2 {
  border-radius: 0.625rem;
}

.rounded-md-3 {
  border-radius: 0.9375rem;
}

.rounded-md-4 {
  border-radius: 1.5625rem;
}

.rounded-md-5 {
  border-radius: 2.1875rem;
}

.rounded-md-pill {
  border-radius: 50rem;
}

.rounded-sm-1 {
  border-radius: 0.3125rem;
}

.rounded-sm-2 {
  border-radius: 0.625rem;
}

.rounded-sm-3 {
  border-radius: 0.9375rem;
}

.rounded-sm-4 {
  border-radius: 1.5625rem;
}

.rounded-sm-5 {
  border-radius: 2.1875rem;
}

.rounded-sm-pill {
  border-radius: 50rem;
}

.rounded-xs-1 {
  border-radius: 0.3125rem;
}

.rounded-xs-2 {
  border-radius: 0.625rem;
}

.rounded-xs-3 {
  border-radius: 0.9375rem;
}

.rounded-xs-4 {
  border-radius: 1.5625rem;
}

.rounded-xs-5 {
  border-radius: 2.1875rem;
}

.rounded-xs-pill {
  border-radius: 50rem;
}

.bg-primary {
  background-color: #1e8ceb;
}

.bg-secondary {
  background-color: #6c757d;
}

.bg-success {
  background-color: #32c864;
}

.bg-info {
  background-color: #0dcaf0;
}

.bg-warning {
  background-color: #ffcd64;
}

.bg-danger {
  background-color: #ff595f;
}

.bg-light {
  background-color: #f8f9fa;
}

.bg-dark {
  background-color: #212529;
}

.bg-trans {
  background-color: transparent;
}

.bg-black {
  background-color: black;
}

.bg-gray-1 {
  background-color: #f8f9fa;
}

.bg-gray-2 {
  background-color: #e9ecef;
}

.bg-gray-3 {
  background-color: #dee2e6;
}

.bg-gray-4 {
  background-color: #ced4da;
}

.bg-gray-5 {
  background-color: #adb5bd;
}

.bg-gray-6 {
  background-color: #6c757d;
}

.bg-gray-7 {
  background-color: #495057;
}

.bg-gray-8 {
  background-color: #343a40;
}

.bg-gray-9 {
  background-color: #212529;
}

.bg-bee-purple-1 {
  background-color: #e8ebff;
}

.bg-bee-purple-2 {
  background-color: #b4beff;
}

.bg-bee-purple-3 {
  background-color: #6378ff;
}

.bg-bee-purple-4 {
  background-color: #2d46eb;
}

.bg-bee-purple-5 {
  background-color: #000c5c;
}

.bg-bee-green-1 {
  background-color: #ecfcf2;
}

.bg-bee-green-2 {
  background-color: #94e6af;
}

.bg-bee-green-3 {
  background-color: #32c864;
}

.bg-bee-green-4 {
  background-color: #008c2e;
}

.bg-bee-green-5 {
  background-color: #004e1a;
}

.bg-bee-yellow-1 {
  background-color: #fff6e1;
}

.bg-bee-yellow-2 {
  background-color: #ffe4aa;
}

.bg-bee-yellow-3 {
  background-color: #ffcd64;
}

.bg-bee-yellow-4 {
  background-color: #e59b00;
}

.bg-bee-yellow-5 {
  background-color: #7d5400;
}

.bg-bee-red-1 {
  background-color: #ffeeef;
}

.bg-bee-red-2 {
  background-color: #ffa6a8;
}

.bg-bee-red-3 {
  background-color: #ff595f;
}

.bg-bee-red-4 {
  background-color: #d21926;
}

.bg-bee-red-5 {
  background-color: #5a0005;
}

.bg-bee-blue-1 {
  background-color: #def0ff;
}

.bg-bee-blue-2 {
  background-color: #98d0ff;
}

.bg-bee-blue-3 {
  background-color: #1e8ceb;
}

.bg-bee-blue-4 {
  background-color: #0064bc;
}

.bg-bee-blue-5 {
  background-color: #001d37;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-inline-flex {
  display: inline-flex;
}

.d-flex {
  display: flex;
}

.d-lg-none {
  display: none;
}

.d-lg-inline {
  display: inline;
}

.d-lg-inline-block {
  display: inline-block;
}

.d-lg-block {
  display: block;
}

.d-lg-inline-flex {
  display: inline-flex;
}

.d-lg-flex {
  display: flex;
}

.d-md-none {
  display: none;
}

.d-md-inline {
  display: inline;
}

.d-md-inline-block {
  display: inline-block;
}

.d-md-block {
  display: block;
}

.d-md-inline-flex {
  display: inline-flex;
}

.d-md-flex {
  display: flex;
}

.d-sm-none {
  display: none;
}

.d-sm-inline {
  display: inline;
}

.d-sm-inline-block {
  display: inline-block;
}

.d-sm-block {
  display: block;
}

.d-sm-inline-flex {
  display: inline-flex;
}

.d-sm-flex {
  display: flex;
}

.d-xs-none {
  display: none;
}

.d-xs-inline {
  display: inline;
}

.d-xs-inline-block {
  display: inline-block;
}

.d-xs-block {
  display: block;
}

.d-xs-inline-flex {
  display: inline-flex;
}

.d-xs-flex {
  display: flex;
}

.fld-row {
  flex-direction: row;
}

.fld-column {
  flex-direction: column;
}

.fld-row-reverse {
  flex-direction: row-reverse;
}

.fld-column-reverse {
  flex-direction: column-reverse;
}

.fld-lg-row {
  flex-direction: row;
}

.fld-lg-column {
  flex-direction: column;
}

.fld-lg-row-reverse {
  flex-direction: row-reverse;
}

.fld-lg-column-reverse {
  flex-direction: column-reverse;
}

.fld-md-row {
  flex-direction: row;
}

.fld-md-column {
  flex-direction: column;
}

.fld-md-row-reverse {
  flex-direction: row-reverse;
}

.fld-md-column-reverse {
  flex-direction: column-reverse;
}

.fld-sm-row {
  flex-direction: row;
}

.fld-sm-column {
  flex-direction: column;
}

.fld-sm-row-reverse {
  flex-direction: row-reverse;
}

.fld-sm-column-reverse {
  flex-direction: column-reverse;
}

.fld-xs-row {
  flex-direction: row;
}

.fld-xs-column {
  flex-direction: column;
}

.fld-xs-row-reverse {
  flex-direction: row-reverse;
}

.fld-xs-column-reverse {
  flex-direction: column-reverse;
}

.flg-1 {
  flex-grow: 1;
}

.flg-2 {
  flex-grow: 2;
}

.flg-3 {
  flex-grow: 3;
}

.flg-lg-1 {
  flex-grow: 1;
}

.flg-lg-2 {
  flex-grow: 2;
}

.flg-lg-3 {
  flex-grow: 3;
}

.flg-md-1 {
  flex-grow: 1;
}

.flg-md-2 {
  flex-grow: 2;
}

.flg-md-3 {
  flex-grow: 3;
}

.flg-sm-1 {
  flex-grow: 1;
}

.flg-sm-2 {
  flex-grow: 2;
}

.flg-sm-3 {
  flex-grow: 3;
}

.flg-xs-1 {
  flex-grow: 1;
}

.flg-xs-2 {
  flex-grow: 2;
}

.flg-xs-3 {
  flex-grow: 3;
}

.fls-1 {
  flex-shrink: 1;
}

.fls-2 {
  flex-shrink: 2;
}

.fls-3 {
  flex-shrink: 3;
}

.fls-lg-1 {
  flex-shrink: 1;
}

.fls-lg-2 {
  flex-shrink: 2;
}

.fls-lg-3 {
  flex-shrink: 3;
}

.fls-md-1 {
  flex-shrink: 1;
}

.fls-md-2 {
  flex-shrink: 2;
}

.fls-md-3 {
  flex-shrink: 3;
}

.fls-sm-1 {
  flex-shrink: 1;
}

.fls-sm-2 {
  flex-shrink: 2;
}

.fls-sm-3 {
  flex-shrink: 3;
}

.fls-xs-1 {
  flex-shrink: 1;
}

.fls-xs-2 {
  flex-shrink: 2;
}

.fls-xs-3 {
  flex-shrink: 3;
}

.od-1 {
  order: 1;
}

.od-2 {
  order: 2;
}

.od-3 {
  order: 3;
}

.od-4 {
  order: 4;
}

.od-lg-1 {
  order: 1;
}

.od-lg-2 {
  order: 2;
}

.od-lg-3 {
  order: 3;
}

.od-lg-4 {
  order: 4;
}

.od-md-1 {
  order: 1;
}

.od-md-2 {
  order: 2;
}

.od-md-3 {
  order: 3;
}

.od-md-4 {
  order: 4;
}

.od-sm-1 {
  order: 1;
}

.od-sm-2 {
  order: 2;
}

.od-sm-3 {
  order: 3;
}

.od-sm-4 {
  order: 4;
}

.od-xs-1 {
  order: 1;
}

.od-xs-2 {
  order: 2;
}

.od-xs-3 {
  order: 3;
}

.od-xs-4 {
  order: 4;
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-lg-flex-start {
  justify-content: flex-start;
}

.jc-lg-flex-end {
  justify-content: flex-end;
}

.jc-lg-center {
  justify-content: center;
}

.jc-lg-space-between {
  justify-content: space-between;
}

.jc-lg-space-evenly {
  justify-content: space-evenly;
}

.jc-lg-space-around {
  justify-content: space-around;
}

.jc-md-flex-start {
  justify-content: flex-start;
}

.jc-md-flex-end {
  justify-content: flex-end;
}

.jc-md-center {
  justify-content: center;
}

.jc-md-space-between {
  justify-content: space-between;
}

.jc-md-space-evenly {
  justify-content: space-evenly;
}

.jc-md-space-around {
  justify-content: space-around;
}

.jc-sm-flex-start {
  justify-content: flex-start;
}

.jc-sm-flex-end {
  justify-content: flex-end;
}

.jc-sm-center {
  justify-content: center;
}

.jc-sm-space-between {
  justify-content: space-between;
}

.jc-sm-space-evenly {
  justify-content: space-evenly;
}

.jc-sm-space-around {
  justify-content: space-around;
}

.jc-xs-flex-start {
  justify-content: flex-start;
}

.jc-xs-flex-end {
  justify-content: flex-end;
}

.jc-xs-center {
  justify-content: center;
}

.jc-xs-space-between {
  justify-content: space-between;
}

.jc-xs-space-evenly {
  justify-content: space-evenly;
}

.jc-xs-space-around {
  justify-content: space-around;
}

.ai-flex-start {
  align-items: flex-start;
}

.ai-flex-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-stretch {
  align-items: stretch;
}

.ai-lg-flex-start {
  align-items: flex-start;
}

.ai-lg-flex-end {
  align-items: flex-end;
}

.ai-lg-center {
  align-items: center;
}

.ai-lg-stretch {
  align-items: stretch;
}

.ai-md-flex-start {
  align-items: flex-start;
}

.ai-md-flex-end {
  align-items: flex-end;
}

.ai-md-center {
  align-items: center;
}

.ai-md-stretch {
  align-items: stretch;
}

.ai-sm-flex-start {
  align-items: flex-start;
}

.ai-sm-flex-end {
  align-items: flex-end;
}

.ai-sm-center {
  align-items: center;
}

.ai-sm-stretch {
  align-items: stretch;
}

.ai-xs-flex-start {
  align-items: flex-start;
}

.ai-xs-flex-end {
  align-items: flex-end;
}

.ai-xs-center {
  align-items: center;
}

.ai-xs-stretch {
  align-items: stretch;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-lg-relative {
  position: relative;
}

.pos-lg-absolute {
  position: absolute;
}

.pos-lg-fixed {
  position: fixed;
}

.pos-md-relative {
  position: relative;
}

.pos-md-absolute {
  position: absolute;
}

.pos-md-fixed {
  position: fixed;
}

.pos-sm-relative {
  position: relative;
}

.pos-sm-absolute {
  position: absolute;
}

.pos-sm-fixed {
  position: fixed;
}

.pos-xs-relative {
  position: relative;
}

.pos-xs-absolute {
  position: absolute;
}

.pos-xs-fixed {
  position: fixed;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.fl-none {
  float: none;
}

.fl-lg-left {
  float: left;
}

.fl-lg-right {
  float: right;
}

.fl-lg-none {
  float: none;
}

.fl-md-left {
  float: left;
}

.fl-md-right {
  float: right;
}

.fl-md-none {
  float: none;
}

.fl-sm-left {
  float: left;
}

.fl-sm-right {
  float: right;
}

.fl-sm-none {
  float: none;
}

.fl-xs-left {
  float: left;
}

.fl-xs-right {
  float: right;
}

.fl-xs-none {
  float: none;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

.pos-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bxsha-small {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.bxsha {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.bxsha-large {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.bxsha-inset {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.bxsha-lg-small {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.bxsha-lg {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.bxsha-lg-large {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.bxsha-lg-inset {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.bxsha-md-small {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.bxsha-md {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.bxsha-md-large {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.bxsha-md-inset {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.bxsha-sm-small {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.bxsha-sm {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.bxsha-sm-large {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.bxsha-sm-inset {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.bxsha-xs-small {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.bxsha-xs {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.bxsha-xs-large {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.bxsha-xs-inset {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.ov-auto {
  overflow: auto;
}

.ov-hidden {
  overflow: hidden;
}

.ov-visible {
  overflow: visible;
}

.op-0 {
  opacity: 0;
}

.op-1 {
  opacity: 0.15;
}

.op-2 {
  opacity: 0.35;
}

.op-3 {
  opacity: 0.6;
}

.op-4 {
  opacity: 0.8;
}

.op-5 {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
