@each $border-width-index, $border-width in $border-width-list {
    .bd-#{$border-width-index} {
        border-width: $border-width;
        border-style: solid;
    }

    @each $side-index, $side in $composition-side-list {
        .bd-#{$side-index}-#{$border-width-index} {
            border-#{nth($side, 1)}-width: $border-width;
            border-#{nth($side, 2)}-width: $border-width;
            border-style: solid;
        }
    }

    @each $side-index, $side in $side-list {
        .bd-#{$side-index}-#{$border-width-index} {
            border-#{$side}-width: $border-width;
            border-style: solid;
        }
    }
}

@each $border-color-index, $border-color in $theme-color-list {
    .bd-#{$border-color-index} {
        border-color: $border-color;
    }
}

@each $infix, $size in $grid-breakpoint-list {
    @each $border-color-index, $border-color in $theme-color-list {
        .bd-#{$infix}-#{$border-color-index} {
            @media screen and (max-width: $size) {
                border-color: $border-color;
            }
        }
    }

    @each $border-width-index, $border-width in $border-width-list {
        .bd-#{$infix}-#{$border-width-index} {
            @media screen and (max-width: $size) {
                border-width: $border-width;
                border-style: solid;
            }
        }

        @each $side-index, $side in $side-list {
            .bd-#{$side-index}-#{$border-width-index} {
                border-#{$side}-width: $border-width;
                border-style: solid;
            }

            .bd-#{$side-index}-#{$infix}-#{$border-width-index} {
                @media screen and (max-width: $size) {
                    border-#{$side}-width: $border-width;
                    border-style: solid;
                }
            }
        }

        @each $side-index, $side in $composition-side-list {
            .bd-#{$side-index}-#{$border-width-index} {
                border-#{nth($side, 1)}-width: $border-width;
                border-#{nth($side, 2)}-width: $border-width;
                border-style: solid;
            }

            .bd-#{$side-index}-#{$infix}-#{$border-width-index} {
                @media screen and (max-width: $size) {
                    border-#{nth($side, 1)}-width: $border-width;
                    border-#{nth($side, 2)}-width: $border-width;
                    border-style: solid;
                }
            }
        }
    }
}
